/* ===== Base ===== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style-type: none;
}
.a {
    text-decoration: none;
}
/* ===== Header ===== */
.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.header-logo .logo-accent {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     color: #2e2f42;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ===== Hero ===== */
.hero-section {
    background-color: #2e2f42;
    text-align: center;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;

}

.primary-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #404bbf;
}

/* ==== Sections titles (Team + Portfolio) ===== */
.section-title {
color: #2e2f42;
font-size: 36px;
line-height: 1.2;
letter: spacing 0.02em;;
text-transform: capitalize;
}

/* ===== Features ( 2 сeкція)===== */
.features-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* ===== Team ===== */
.team {
    background-color: #f4f4fd;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    background-color: #ffffff;
  
}

.team-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffff;
    letter-spacing: 0.02em;
 
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/* ===== Portfolio ===== */



.project-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
   
}

.project-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* ===== Footer ===== */
.page-footer {
    background-color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo .logo-part {
    font-family: "Releway", sans-serif;
}
